<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.HTML" version="24.6.0" targetFramework="net481" />
  <package id="bootstrap" version="5.3.3" targetFramework="net481" />
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net481" />
  <package id="CefSharp.Common" version="126.2.70" targetFramework="net481" />
  <package id="CefSharp.OffScreen" version="126.2.70" targetFramework="net481" />
  <package id="CefSharp.WinForms" version="126.2.70" targetFramework="net481" />
  <package id="CefSharp.Wpf" version="126.2.70" targetFramework="net481" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="126.2.7" targetFramework="net481" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="126.2.7" targetFramework="net481" />
  <package id="HtmlAgilityPack" version="1.11.61" targetFramework="net481" />
  <package id="itext" version="8.0.4" targetFramework="net481" />
  <package id="itext.bouncy-castle-adapter" version="8.0.4" targetFramework="net481" />
  <package id="itext.commons" version="8.0.4" targetFramework="net481" />
  <package id="itext.pdfhtml" version="5.0.4" targetFramework="net481" />
  <package id="itext7" version="8.0.4" targetFramework="net481" />
  <package id="itext7.bouncy-castle-adapter" version="8.0.4" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Web.WebView2" version="1.0.2592.51" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="PdfPig" version="0.1.8" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net481" />
  <package id="System.Drawing.Common" version="4.7.3" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net481" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="Westwind.Utilities" version="4.0.20" targetFramework="net481" />
  <package id="Westwind.WebView.HtmlToPdf" version="0.7.0" targetFramework="net481" />
  <package id="Westwind.WebView.HtmlToPdf.Extended" version="0.7.0" targetFramework="net481" />
</packages>